!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "Help us build a free People Ops solution for all small startups.", :name => "description"}/
    %meta{:content => "Amin Shah Gilani <amin@gilani.me>", :name => "author"}/
    %title PetNoter | People Ops for startups
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    = yield
